.sorting-visualizer {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bars {
    position: absolute;
    bottom: 100px;
}

.array-bar {
    display: inline-block;
    margin: 0 1px;
    position: relative;
    bottom: 0;
}

.color-nav {
    background-color: #34495e;
}

.seperator {
    height: 50px;
    border-left: 3px solid black;
}

.slider-container {
    padding-left: 10px;
    padding-right: 10px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    margin: auto;
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
    transition: .3s ease-in-out;
}

.slider::-moz-focus-outer {
    border: 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: pink;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: pink;
    border: none;
    border-radius: 50%;
}

.slider-container .slider::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.2);
}

.slider-container .slider:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
}

.slider-container .slider::-moz-range-thumb:hover {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.2);
}

.slider-container .slider:active::-moz-range-thumb {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
}

.navoption {
    margin-left: 20px;
    padding-right: 20px;
}

.options, .sizeoption {
    background: none !important;
    border: none !important;
}

.options:hover {
    background-color: #A33A47 !important;
}

.options:focus, .options:active {
    outline: none !important;
    box-shadow: none !important;
}